@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #202020;
}

main h1 {
  font-size: 8rem;
  color: #1fa398;
  text-align: left;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  color: #1fa398;
  text-align: left;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

hr {
  height: 5px;
  border: none;
  border-radius: 10px;
  width: 190px;
  background: #43c6ac;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #191654,
      #43c6ac);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #191654,
      #43c6ac);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 50px;
}

p {
  color: #1fa398;
  margin-bottom: 60px;
}

.img-content {
  transform: translateX(30px);
  width: 100%;
  height: 100%;
}

.img-principal {
  width: 100%;
}

.btn {
  color: #1fa398;
  width: 30%;
  padding: 10px 30px;
  border: 2px solid #43c6ac;
  /* Utiliza el mismo color que el fondo */
  outline: none;
  border-radius: 25px;
  font-weight: 600;
  transition: background-color 0.3s, border-color 0.3s;
  /* Transición para el cambio de color de fondo y borde */
}

.btn:hover {
  color: #1fa398;
  border: 2px solid rgba(255, 255, 255, 0.555);
}

.btn1 {
  color: #ffffff !important;
  font-weight: 500;
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0);
  border-radius: 25px;
  background: #43c6ac;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #191654,
      #43c6ac);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #191654,
      #43c6ac);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 1s ease;
  position: relative;
  margin-right: 10px;
}

.btn1:hover {
  background: #ffffffd7;
  color: #1fa398 !important;
  transition: all 1s ease-out;
}

.login-container {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 27%;
  height: 600px;
  background: #1a1a1a49;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  display: none;
  color: rgb(255, 255, 255);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  /* Color de fondo semi-transparente */
  z-index: 999;
  /* Asegura que el overlay esté encima de todo */
  display: none;
  /* Inicialmente oculto */
}

.container .form {
  width: 100%;
  padding: 80px;
}

.cerrar {
  transform: translateX(10%);
  margin-top: -40px;
  cursor: pointer;
}

.form h1 {
  margin-top: 40px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0.5px;
}

.input_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 40px 0;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.input_box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input_box input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_box input:focus~label,
.input_box input:valid~label {
  top: -5px;
}

.input_box select:focus~label,
.input_box select:valid~label {
  top: -5px;
}

.input_box input,
select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input_box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  line-height: 57px;
}

.boton {
  width: 100%;
  height: 45px;
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43c6ac); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43c6ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s, border-color 0.3s; /* Transición para el cambio de color de fondo y borde */
}

.boton:hover {
  color: #1fa398;
  transition: all 1s ease-out;
  background: #ffffff;
  border: 1px solid rgba(59, 59, 59, 0.37);
  font-weight: 600;
  cursor: pointer;
}

option {
  background-color: #eaeaea;
}

.img-body {
  margin-left: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Animación para mostrar el contenedor de inicio de sesión */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación para ocultar el contenedor de inicio de sesión */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Aplicamos las animaciones a los elementos */
#login-container {
  animation: fadeIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

#overlay {
  animation: fadeIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

#login-container.cerrar {
  animation: fadeOut 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

#overlay.cerrar {
  animation: fadeOut 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
/* Asegúrate de que la imagen sea responsive */
.logo-img {
  max-width: 100%;
  height: auto;
}

/* Centrar la imagen en pantallas pequeñas */
@media (max-width: 992px) {
  #nosotros .col-lg-6 {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

.card {
  background-color: #ffffff0c;
  border-radius: 20px;
  color: white;
}

.card-body {
  padding: 20px; /* Ajusta el relleno interno */
  border-radius: 10px; /* Ajusta el radio del borde */
  background-color: #1a1a1a49; /* Ajusta el color de fondo */
  color: white; /* Ajusta el color del texto */
}

.card-body iframe {
  border-radius: 10px; /* Mantén el radio del borde del iframe */
  width: 100%; /* Asegura que el iframe ocupe todo el ancho disponible */
  height: 450px; /* Ajusta la altura del iframe */
  border: none; /* Quita el borde predeterminado del iframe */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .card-body iframe {
    height: 300px; /* Reduce la altura del iframe en pantallas más pequeñas */
  }
}

@media (max-width: 992px) {
  .img-content {
    display: none; /* Oculta la imagen principal en pantallas medianas y pequeñas */
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px; /* Ajusta el padding de los contenedores en pantallas pequeñas */
  }

  main h1 {
    font-size: 2.5rem; /* Reduce el tamaño del encabezado principal en pantallas pequeñas */
  }

  h2 {
    font-size: 1.5rem; /* Reduce el tamaño de los subencabezados en pantallas pequeñas */
  }

  .btn, .btn1 {
    width: 100%; /* Asegura que los botones ocupen el ancho completo en pantallas pequeñas */
  }
}
@media (max-width: 1200px) {
  .login-container {
    width: 50%;
    padding: 20px;
  }

  .form h1 {
    font-size: 2rem;
  }

  .input_box input {
    font-size: 1rem;
  }

  .boton {
    padding: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .login-container {
    width: 60%;
    padding: 15px;
  }

  .form h1 {
    font-size: 1.8rem;
  }

  .input_box input {
    font-size: 0.95rem;
  }

  .boton {
    padding: 9px;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 70%;
    padding: 10px;
  }

  .form h1 {
    font-size: 1.5rem;
  }

  .input_box input {
    font-size: 0.9rem;
  }

  .boton {
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 90%;
    padding: 10px;
  }

  .form h1 {
    font-size: 1.2rem;
  }

  .input_box input {
    font-size: 0.8rem;
  }

  .boton {
    padding: 6px;
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  .login-container {
    width: 100%; /* Cambiado para adaptarse mejor a pantallas más pequeñas */
    padding: 1px; /* Reducido el padding para un mejor ajuste */
  }

  .form h1 {
    font-size: 1rem; /* Reducido aún más el tamaño del título */
  }

  .input_box input {
    font-size: 0.7rem; /* Ajustado el tamaño de fuente del input */
  }

  .boton {
    padding: 5px; /* Reducido el padding del botón */
    font-size: 0.7rem; /* Ajustado el tamaño de fuente del botón */
  }
}

