@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    width: 100%;
}

nav {
    background-color: #f2f2f2;
}

.card1 {
    background: #f2f2f2;
    padding: 40px 120px;
    border: none;
}

.card {
    padding: 40px 120px;
    border: none;
}

@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
    font-family: "Prompt", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.draggable-handle {
    color: black;
    margin-top: -40px;
    height: 50px;
    width: 70px;
    transform: translateX(-120px);
    font-size: 20px;
    cursor: pointer;
}

.eliminareje {
    margin-top: -50px;
    height: 50px;
    width: 70px;
    transform: translateX(160vh);
    font-size: 25px;
    cursor: pointer;
}
.modal-backdrop.show {
    display: none;
}