@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #202020;  
}
.search {
    width: 100%;
    height: 30px;
    background-color: white;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    margin-right: 10px;
    padding: 20px 45px 20px 20px;
}
.card1 {
  background: #f2f2f2;
  padding: 40px 50px;
  border: none;
  border-radius: 20px;
}

.form-control {
  background-color: rgba(41, 41, 41, 0.116) !important;
}

.form-select {
  background-color: rgba(41, 41, 41, 0.116) !important;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  border: 1px solid #cccccc;
  margin-top: 26px;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #fff;
}

.form-group select {
  padding: 15px 15px;
  border-radius: 5px;
  margin-top: -5px;
  background-color: #fff;
}
.box-select {
  margin-top: 30px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  padding: 15px;
  border: 1px solid #111;
  margin-top: 26px;
  font-size: 15px;
}

.input_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-right: 10px;
}
.input_box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  color: black;
  line-height: 57px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: black;
  pointer-events: none;
}

.animated-image {
  animation: bounceUpDown 2s infinite;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  height: 100%;
}
form {
  margin-left: -50px;
  justify-content: center;
}
@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

.btn-primary {
  background-color: #3498db;
  border: none;
  color: #fff;
}

.btn-danger {
  background-color: #e74c3c;
  border: none;
  color: #fff;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.9;
  filter: invert(0.9);
}

.checkbox {
  margin-top: 40px;
}

.checkbox label {
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearence: none;
  height: 20px;
  width: 20px;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox label {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.checkbox input[type="checkbox"]:checked {
  background-color: grey;
}

.checkbox input[type="checkbox"]:hover {
  background-color: grey;
}

.checkbox input[type="checkbox"]:checked::after {
  color: white;
}

.box-select {
  margin-top: 30px;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #cccccc;
  transform: translateY(10%);
  background: linear-gradient(to bottom, #f2f2f2 98%, #dbdbdb 2%);
  padding: 0 20px;
  z-index: 1;
  margin-left: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-primary {
  background-color: #3498db;
  border: none;
  color: #fff;
}

.btn-danger {
  background-color: #e74c3c;
  border: none;
  color: #fff;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.9;
  filter: invert(0.9);
}

.checkbox {
  margin-top: 40px;
}

.checkbox label {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearence: none;
  height: 20px !important;
  width: 20px;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.checkbox label {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked {
  background-color: grey;
}

.checkbox input[type="checkbox"]:hover {
  background-color: grey;
}

.checkbox input[type="checkbox"]:checked::after {
  color: white;
}

.botones {
  align-items: center;
  margin-left: 45%;
}
@media (max-width: 1300px) {
  .container.my-5 {
    text-align: center;
  }

  .container.my-5 .btn {
    position: relative;
    top: 0; /* Ajusta este valor */
    display: block;
    margin: 10px auto; /* Ajusta el margen según sea necesario */
  }

  .input_box{
    padding: 5px;
    position: relative;
    left: 65px; /* Ajusta este valor */
    margin: 1px auto; 
  }
  .container.my-5 .btn-danger {
    position: relative;
    top: 50px;
    margin: 0 auto; /* Ajusta este valor para cambiar la separación entre los botones */
  }
}
/* Media query para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .input_box {
      position: relative; 
      left: 10px;/* Agrega un pequeño margen superior entre los elementos */
    }
  
    .search {
      width: 100%; /* Hace que el input de búsqueda ocupe todo el ancho disponible */
      font-size: 0.6rem; /* Reduce el tamaño de la fuente del input de búsqueda */
    }
  
    .toggle-details {
      font-size: 0.6rem; /* Reduce el tamaño de la fuente del botón de búsqueda */
      padding: 2px; /* Ajusta el padding del botón de búsqueda */
      width: 80%; /* Hace que el botón de búsqueda ocupe todo el ancho disponible */
    }
    .btcerrar{
    font-size: 0.6rem;
    } 
  }
  @media (max-width: 450px) {
    .input_box {
        position: relative; 
        left: 10px;/* Agrega un pequeño margen superior entre los elementos */
      }

      .search {
        margin-right: 10px;
        font-size: 0.4rem;  /* Hace que el input de búsqueda ocupe todo el ancho disponible *//* Reduce el tamaño de la fuente del input de búsqueda */
      }
    
      .toggle-details {
        width: 100%;
        font-size: 0.4rem; /* Reduce el tamaño de la fuente del botón de búsqueda */
        padding: 2px; /* Ajusta el padding del botón de búsqueda */
        /* Hace que el botón de búsqueda ocupe todo el ancho disponible */
      }
      .btcerrar{
      font-size: 0.6rem;
      } 
  }
  /* Media query para pantallas de hasta 550px de ancho */
  @media (max-width: 550px) {
    .input_box {
        position: relative; 
        left: 10px;/* Agrega un pequeño margen superior entre los elementos */
      }
    
      .search {
        width: 100%; /* Hace que el input de búsqueda ocupe todo el ancho disponible */
        font-size: 0.6rem; /* Reduce el tamaño de la fuente del input de búsqueda */
      }
    
      .toggle-details {
        font-size: 0.6rem; /* Reduce el tamaño de la fuente del botón de búsqueda */
        padding: 2px; /* Ajusta el padding del botón de búsqueda */
        width: 80%; /* Hace que el botón de búsqueda ocupe todo el ancho disponible */
      }
      .btcerrar{
      font-size: 0.6rem;
      } 
  }
  
  
  
  
  
